@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    margin: 0;
    box-sizing: 0;
}
:root{
    --corPrimaria-1: #EBB548;
    --corPrimaria-2: #EC5C14;
    --corPrimaria-3: #235789;
    --corPrimaria-4: #565254;
    --corPrimaria-5: #FFFBFE;
    --fonte-primaria: 'Belleza', 'calibri';
}

.BarraNav{
    background-color: #FFF;
    padding:15px 35px 15px 15px;
    display: flex;
    justify-content: space-between ;
}
.BarraNav img{
    width: 210px;
    margin-top: -10px;
}

.BarraNav a{
    text-decoration: none ;
    color: #EC5C14;
    font: 400 1.1rem "M PLUS 1p", sans-serif ;
}
main{
    height: 100vh;
}

nav.menuLateral{
    width: 50px;
    height: 100%;
    background-color: #04074B;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #ED5C15;
    border-radius: 0 20px 20px 0;

    position: fixed;
    /* top: 0; */
    left: 0;
    overflow: hidden; 
    transition: .2s;
}
nav.menuLateral:hover{
    width: 300px;

}
.expandir{
    width: 100%;
    padding-left: 7px;
}
.expandir > ion-icon{
    color: #ED5C15;
    font-size: 1.8rem;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding-left: 3%;
}

ul li.itemMenu a:hover{
    background: #ED5C15;
    color: #FFF;
}

ul li.itemMenu a{
    color: #ED5C15;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px 1%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
    transition: .4s;

}

ul li.itemMenu a .txtLink{
    margin-left: 40px;
}

ul li.itemMenu a .icon > ion-icon{
    font-size: 30px;
    padding-left: 5px;
}


footer{
    background-color: #FFF;
    padding: 10px;
    font: .7rem "Poppins", sans-serif;
    color: #666666;
}
footer p{
    padding: 0px 10px 0px 10px;
}